@import'../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import'../bower_components/neat/app/assets/stylesheets/_neat.scss';

// @media (min-width:0px) and (max-width:478px){
//Header Styles
header{
  @include outer-container;
  height:50.8vw;
  margin-top:2%;

  header>section{
    @include span-columns(12);
  }

  .logo{
    @include span-columns(3);
    text-align:center;
    color:#696F75;
    font-weight: bold;
  }

  .headerImage{
    @include span-columns(12);
    margin-top:2.5%;
    height:48vw;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    font-size:2.3em;
    color:white;
    font-weight: bold;
    text-shadow: 2px 1px 1px black;
    padding-top:15%;
  }

  .logoColor{
    color:black;
  }
}

//Main Style Section
  main{
    @include outer-container;
    height:200vw;
    padding:0 2% 0 2%;
    text-align:center;
    color:white;
  }
  main{
    height:709vw;
  }
  .adverBox{
    height:140vw;
    margin-top:17%;
  }

  .fiveDoller{
    @include span-columns(12);
    background:#519251;
    height: 53vw;
    padding-top:9%;
    font-size:1.5em;
  }
  .twentyDoller{
    background:#2C4985;
  }

  .fortyFive{
    background:black;
  }

  .largeText{
    font-size:4em;
  }
  .trans{
    opacity:0.4;
  }

  div:nth-child(1n+2){
    @include span-columns(12);
    color:black;
    height:11vw;
    font-size: bolder;
    background:#F7F7F7;
    border:1px solid gray;
    padding-top:4%;
    color:gray;
    font-size:1.2em;
    margin:0;
  }

  .bottomBox{
    @include span-columns(12);
    height:5.3em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom:6%;
  }

  button{
    height: 2.5em;
    margin-top: 1.4em;
    width: 24%;
    border-radius: 1em;
    color:black;
    background:white;
  }

  //Article style
  article{
    @include outer-container;
    height:256vw;
  }

  .articleBox{
    @include span-columns(12);
    height:19em;
    @include omega(12);
    padding-right: 5%;
    padding-left: 6%;

  .boxThree{
    margin-top:10%;
  }

    h2{
      color:black;
      float:left;
      text-align:left;
      padding-right:15%;
      margin-bottom:2%;
    }
    p{
      color:gray;
      float:left;
      font-size:1.3em;
      text-align: left;
    }
}

  footer{
    @include span-columns(12);
    height:7em;
    padding:0 1% 2% 1%;
  }

  footer section{
    @include span-columns(12);
    background:black;
    height:100%;
    color:white;
    text-align: center;
    font-size:1.1em;
    padding-top:6%;
    color:gray;
  }

  .whiteUnderline{
    color:white;
    text-decoration: underline;
  }

// }

  @media (min-width:479px) and(max-width: 767px){
    main{
      height: 520vw;
    }

    .adverBox{
      height:118vw;
    }

    .title{
      font-size: 1.7em;
    }

    .articleBox{
      height:15em;
    }
  }
   @media (min-width:767px) and (max-width: 978px){

     header>section{
       @include span-columns(9);
     }
     .logo{
       @include span-columns(3);
        font-size:1.3em;
     }
     main{
       @include span-columns(12);
       padding:0;

     }

     .adverBox{
       @include span-columns(4);
       margin-right:1%;
       height: 108vw;

     }

     .fiveDoller{
       height:28vw;
     }

     div:nth-child(1n+2){
      padding-top:14%;
    }

    .articleBox {
      height: 14em;
      @include span-columns(6);
      margin-right:1%;
    }
}
