html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 50.8vw;
  margin-top: 2%; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header header > section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    header header > section:last-child {
      margin-right: 0; }
  header .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center;
    color: #696F75;
    font-weight: bold; }
    header .logo:last-child {
      margin-right: 0; }
  header .headerImage {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 2.5%;
    height: 48vw;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 2.3em;
    color: white;
    font-weight: bold;
    text-shadow: 2px 1px 1px black;
    padding-top: 15%; }
    header .headerImage:last-child {
      margin-right: 0; }
  header .logoColor {
    color: black; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 200vw;
  padding: 0 2% 0 2%;
  text-align: center;
  color: white; }
  main::after {
    clear: both;
    content: "";
    display: table; }

main {
  height: 709vw; }

.adverBox {
  height: 140vw;
  margin-top: 17%; }

.fiveDoller {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #519251;
  height: 53vw;
  padding-top: 9%;
  font-size: 1.5em; }
  .fiveDoller:last-child {
    margin-right: 0; }

.twentyDoller {
  background: #2C4985; }

.fortyFive {
  background: black; }

.largeText {
  font-size: 4em; }

.trans {
  opacity: 0.4; }

div:nth-child(1n+2) {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  color: black;
  height: 11vw;
  font-size: bolder;
  background: #F7F7F7;
  border: 1px solid gray;
  padding-top: 4%;
  color: gray;
  font-size: 1.2em;
  margin: 0; }
  div:nth-child(1n+2):last-child {
    margin-right: 0; }

.bottomBox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 5.3em;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 6%; }
  .bottomBox:last-child {
    margin-right: 0; }

button {
  height: 2.5em;
  margin-top: 1.4em;
  width: 24%;
  border-radius: 1em;
  color: black;
  background: white; }

article {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 256vw; }
  article::after {
    clear: both;
    content: "";
    display: table; }

.articleBox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 19em;
  padding-right: 5%;
  padding-left: 6%; }
  .articleBox:last-child {
    margin-right: 0; }
  .articleBox:nth-child(12) {
    margin-right: 0; }
  .articleBox .boxThree {
    margin-top: 10%; }
  .articleBox h2 {
    color: black;
    float: left;
    text-align: left;
    padding-right: 15%;
    margin-bottom: 2%; }
  .articleBox p {
    color: gray;
    float: left;
    font-size: 1.3em;
    text-align: left; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 7em;
  padding: 0 1% 2% 1%; }
  footer:last-child {
    margin-right: 0; }

footer section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: black;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 1.1em;
  padding-top: 6%;
  color: gray; }
  footer section:last-child {
    margin-right: 0; }

.whiteUnderline {
  color: white;
  text-decoration: underline; }
